<div class="container custom">
  <div class="row">
    <div class="center">
      <span class="text-style">Fetch File Information</span>
    </div>
  </div>
  <div class="row">
    <div class="drop-container">
      <ngx-file-drop dropZoneLabel="Drop & Drop files here" (onFileDrop)="dropped($event)"
      (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <span></span>
      </ngx-file-drop>
      <div class="upload-table" *ngIf="files.length">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Size</th>
              <th>Last Modified Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let file of data">
              <td>{{file.name}}</td>
              <td>{{file.size}}</td>
              <td>{{file.modified | date: 'MMM d, y, h:mm:ss a'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>